In [1]:
import numpy as np
import pandas as pd
import plotly as pl
import cufflinks as cf

In [5]:
import plotly.offline as po
po.init_notebook_mode(connected=True)

In [6]:
cf.go_offline()

In [7]:
df = pd.DataFrame(np.random.rand(100,5),columns=['a','b','c','d','e'])

In [11]:
df = pd.DataFrame({
        'x' : ['a','b','c','d','e'],
        'y':[1,2,3,4,5],
        'z':[6,7,8,9,10]
    })

In [12]:
df

   x  y   z
0  a  1   6
1  b  2   7
2  c  3   8
3  d  4   9
4  e  5  10

# Point Plot